
<div id="reveal" class="reveal">
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section id="Intro">
					
				</section>

				<!-- Example of nested vertical slides -->
				<section id="chapters">
					<section>
						<h2>Choisis un chapitre !</h2>

						<a href="#" class="navigate-down">
							<img width="178" height="238" src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					
					<section id="chaptersEnd">
						<h2>Hey ! C'est tout pour le moment...</h2>
						<p>Allez remonte !</p>
						<br>
						<a href="#/2">
							<img width="178" height="238" src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Up arrow" style="transform: rotate(180deg); -webkit-transform: rotate(180deg);">
						</a>
					</section>
				</section>
			</div>
		</div>


  <% for c in 0..4 do %>
    <% for l in 0..19 do %>
      <div id="score<%= c+1 %>-<%= l+1 %>" class="score">    
      <% for s in 0..(@tentatives[c][l].to_i-1) do %>
        <div class="star-point"></div>
      <% end %>
      </div>
    <% end %>
  <% end %>

  <div id="screen"> 
		  <div id="lhs" data-style="false" data-side="lhs"></div>
		  <div id="rhs" data-style="false" data-side="rhs"></div>
      <div id="pioche" data-side="pioche"></div>
      <div id="victory-recap">
         <%= image_tag("thumb-up.png") %>
        <div class="next"></div><div class="up"></div>
      </div>
      <div id="wow_dialog" class="dialog">!</div>
      <div id="astuce" class="astuce"></div><div id="victory-anime" ></div>
      <div id="panel_bottom">
        <button id="back">Menu</button><button class="play">Refaire</button><button id="shots"></button>
      </div> 
  </div>
